In [ ]:
library(data.table)
library(tidyverse)
library(lubridate)

## İlk tablo gün / ay / yıl
## İkinci tablo ay / gün / yıl

In [5]:
read.csv('dt1.csv',sep=";") %>% glimpse()

Rows: 50
Columns: 3
$ numerik_1 <int> 174, 65, 171, 114, 60, 23, 127, 29, 178, 17, 180, 144, 186,…
$ numerik_2 <chr> "27,87", "89,88", "165,89", "52,71", "175,85", "51,66", "9,…
$ tarih     <chr> "22/10/2008", "27/10/2009", "2/6/2011", "28/10/2013", "20/4…

In [6]:
read.csv('dt2.csv',sep=";") %>% glimpse()

Rows: 50
Columns: 3
$ numerik_1 <int> 2, 139, 109, 120, 164, 92, 45, 148, 149, 84, 144, 87, 21, 1…
$ numerik_2 <chr> "4,11", "56,4", "25,38", "182,7", "49,47", "82,94", "124,64…
$ tarih     <chr> "2/23/2007", "6/5/2006", "8/9/2007", "2/6/2014", "3/17/2009…

## fread2()

In [25]:
fread2 <- function(file_paths){
    i<-1
    
    datatable_list<-list()
    
    for(file_path in file_paths){
        
        dt<-fread(file_path,sep=";",dec=",")
        
        lubri_tarih <- tryCatch(
            {
                mdy(dt$tarih)
            },
            warning=function(cond){
                dmy(dt$tarih)
            }
        )
        
        dt$tarih<-lubri_tarih
        
        datatable_list[[i]]<-dt
        i <- i+1
    }
    
    return(rbindlist(datatable_list))
    
}

## Test

In [27]:
aggregate_data <- fread2(c("dt1.csv","dt2.csv"))

glimpse(aggregate_data)

Rows: 100
Columns: 3
$ numerik_1 <int> 174, 65, 171, 114, 60, 23, 127, 29, 178, 17, 180, 144, 186,…
$ numerik_2 <dbl> 27.87, 89.88, 165.89, 52.71, 175.85, 51.66, 9.75, 92.97, 14…
$ tarih     <date> 2008-10-22, 2009-10-27, 2011-06-02, 2013-10-28, 2008-04-20…