In [46]:
structure(list(subject = c("subject1", "subject2"), `1` = c(0L, 
0L), `2` = 0:1, `3` = c(0L, 0L), `4` = c(0L, 0L), `5` = c(0L, 
0L), `6` = c(0L, 0L), `7` = c(0L, 0L), `8` = c(0L, 0L), `9` = c(0L, 
0L), `10` = c(0L, 0L), `11` = 1:0, `12` = c(0L, 0L), `13` = 0:1, 
    `14` = c(0L, 0L)), row.names = c(NA, -2L), class = c("data.table", 
"data.frame"))  %>% t %>% as.data.frame(row.names = F) -> your_df_longer

colnames(your_df_longer) <- your_df_longer[1,]

your_df_longer<-your_df_longer[-1,]

structure(c(0.338941353970391, 0.276963745357618, 0.271926533090457, 
0.407888635431584, 0.223490014452546, 0.313882923412051), .Dim = 2:3) %>% 
t %>% 
as.data.frame -> your_df_2

In [47]:
your_df_2

  V1        V2
1 0.3389414 0.2769637
2 0.2719265 0.4078886
3 0.2234900 0.3138829

In [ ]:
library(data.table)
library(tidyverse)

In [38]:
your_df %>%

In [39]:
your_df_longer

   subject1 subject2
2  0        0
3  0        1
4  0        0
5  0        0
6  0        0
7  0        0
8  0        0
9  0        0
10 0        0
11 0        0
12 1        0
13 0        0
14 0        1
15 0        0