In [1]:
library(data.table)

In [12]:
raw <- data.table(A=sample(1000:1999,100000000,replace = T),
                 B=sample(1000:1999,100000000,replace = T),
                 C=sample(1000:1999,100000000,replace = T),
                 D=sample(1000:1999,100000000,replace = T))

In [19]:
head(raw)

  A    B    C    D
1 1836 1552 1954 1974
2 1302 1965 1731 1662
3 1314 1066 1285 1200
4 1691 1361 1478 1194
5 1337 1418 1497 1799
6 1690 1419 1975 1841

In [15]:
write.csv(raw,'raw.csv',row.names=F)

2.000.000.016 bytes

In [18]:
raw_cp <- raw

In [20]:
raw_cp[,names(raw_cp):=lapply(.SD,function(x) x-1000),.SDcols=names(raw_cp)]

In [21]:
head(raw_cp)

  A   B   C   D
1 836 552 954 974
2 302 965 731 662
3 314  66 285 200
4 691 361 478 194
5 337 418 497 799
6 690 419 975 841

In [22]:
write.csv(raw_cp,'raw_cp.csv',row.names=F)