verilerin şöyle bir dataframe'den geldiğini varsaydım;

In [1]:
from pandas import DataFrame as df
from numpy import array 

tahmin = array([250,260,264,257,673,1567,135])
rmse = array([4,8,24,73,24,63,74])

df_forecast = df({'forecasted' : tahmin, 'rmse':rmse})
df_forecast

   forecasted  rmse
0         250     4
1         260     8
2         264    24
3         257    73
4         673    24
5        1567    63
6         135    74

## Envanter optimizasyon modülü

In [2]:
from math import sqrt 
import scipy.stats as st
from pandas import DataFrame as df
from numpy import array 


def envanter_opt(df_forecast,
                 lead_time=8,
                 z=0.95):
    
    forecast = array(df_forecast['forecasted'])
    
    rmse = array(df_forecast['rmse'])
    
    z_value = st.norm.ppf(z)
    
    safety_stock = z_value*rmse*sqrt(lead_time)
    
    minimum = (forecast*lead_time) + z_value*rmse*sqrt(lead_time)
    
    to_return = df({'Guvenlik Stogu ' : safety_stock,'Minimum ': minimum})
    
    return(to_return)

## Örnek

In [3]:
envanter_opt(df_forecast,lead_time=8,z=0.95)

   Guvenlik Stogu       Minimum
0        18.609394   2018.609394
1        37.218789   2117.218789
2       111.656367   2223.656367
3       339.621449   2395.621449
4       111.656367   5495.656367
5       293.097963  12829.097963
6       344.273797   1424.273797