In [ ]:
library('RPostgres')
library('DBI')
library('data.table')
library('tidyverse')

In [2]:
drvv <- dbDriver("Postgres")

In [3]:
iris_data <- sapply(iris,rep,100000) %>% as.data.table
names(iris) -> names(iris_data)

In [4]:
iris_data[,id:=1:.N]

In [5]:
iris_data %>% nrow
iris_data %>% ncol

[1] 15000000

[1] 6

In [12]:
con <- dbConnect(drvv,user='samet',host='localhost',dbname='db',port=5432,password='postgres')

In [13]:
sonradan <- function(x=''){
    dbCreateTable(con,'iris',iris_data[1:1])
    dbWriteTable(con,'iris',iris_data,append=T,row.names=F)
}

key <- function(x=''){
    dbExecute(con,'create unique index concurrently iris_pk on iris ("Species","id")')
    dbExecute(con,'alter table iris add primary key using index iris_pk')

}

In [14]:
system.time(
    sonradan()
)
system.time(
    key()
)

   user  system elapsed
107.765   1.156 282.548

   user  system elapsed
  0.002   0.000 181.240

In [10]:
dbDisconnect(con)